[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=xterm -e "omxplayer -b %f" %f
Name=xterm
Comment=Custom definition for xterm
